<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
      name="viewport"
    />

    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css" />
    <link
      rel="stylesheet"
      href="../plugins/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div id="app">
        <template>
            <div class="teacher-question-bank">
              <h1>{{ courseName }}出题</h1>
              <el-form :model="form" ref="form" label-width="80px" style="margin-top: 20px;">
                <el-form-item label="题目名称">
                  <el-input v-model="form.name" placeholder="请输入题目名称" style="width: 200px"></el-input>
                </el-form-item>
                <el-form-item label="题目描述">
                  <el-input v-model="form.description" type="textarea" :rows="3" placeholder="请输入题目描述" style="width: 200px"></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="submitForm">添加</el-button>
                  <el-button type="info" @click="resetForm">重置</el-button>
                </el-form-item>
              </el-form>
              <el-table :data="questionBank" style="width: 100%; margin-top: 20px;">
                <el-table-column prop="id" label="ID" width="80"></el-table-column>
                <el-table-column prop="name" label="名称"></el-table-column>
                <el-table-column prop="description" label="描述"></el-table-column>
                <el-table-column label="操作">
                  <template slot-scope="scope">
                    <el-button type="primary" @click="editQuestion(scope.row)">编辑</el-button>
                    <el-button type="danger" @click="deleteQuestion(scope.row)">删除</el-button>
                  </template>
                </el-table-column>
              </el-table>
              <el-dialog :visible.sync="dialogVisible" title="编辑题目" :close-on-click-modal="false">
                <el-form :model="dialogForm" ref="dialogForm" label-width="80px">
                  <el-form-item label="题目名称">
                    <el-input v-model="dialogForm.name" placeholder="请输入题目名称"></el-input>
                  </el-form-item>
                  <el-form-item label="题目描述">
                    <el-input v-model="dialogForm.description" type="textarea" :rows="3" placeholder="请输入题目描述"></el-input>
                  </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                  <el-button @click="dialogVisible = false">取 消</el-button>
                  <el-button type="primary" @click="updateQuestion">确 定</el-button>
                </div>
              </el-dialog>
              <el-dialog :visible.sync="questionDialogVisible" title="从题库中选择" :close-on-click-modal="false">
                <el-input v-model="questionQuery" placeholder="请输入关键字" style="width: 200px; margin-bottom: 10px;"></el-input>
                <el-table :data="questionList" style="width: 100%;">
                  <el-table-column prop="id" label="ID" width="80"></el-table-column>
                  <el-table-column prop="name" label="名称"></el-table-column>
                  <el-table-column prop="description" label="描述"></el-table-column>
                  <el-table-column label="操作">
                    <template slot-scope="scope">
                      <el-button type="primary" @click="addQuestionFromList(scope.row)">选择</el-button>
                    </template>
                  </el-table-column>
                </el-table>
                <div slot="footer" class="dialog-footer">
                  <el-button @click="questionDialogVisible = false">取 消</el-button>
                </div>
              </el-dialog>
            </div>
          </template>

    </div>

    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script>
      new Vue({
        el: "#app",
        data() {
            return {
              courseName: '数据库课程设计',
              form: {
                name: '',
                description: '',
              },
              dialogVisible: false,
              dialogForm: {},
              questionBank: [],
              questionList: [],
              questionQuery: '',
              questionDialogVisible: false,
            };
          },
          async created() {
            try {
              const response = await axios.get('/api/question/bank');
              this.questionBank = response.data;
            } catch (error) {
              console.error(error);
              this.$message.error('获取题目列表失败');
            }
          },
          methods: {
            async submitForm() {
              try {
                await this.$refs.form.validate();
                await axios.post('/api/question', this.form);
                this.$message.success('添加题目成功');
                this.resetForm();
                const response = await axios.get('/api/question/bank');
                this.questionBank = response.data;
              } catch (error) {
                console.error(error);
                this.$message.error('添加题目失败');
              }
            },
            resetForm() {
              this.$refs.form.resetFields();
            },
            async editQuestion(question) {
              this.dialogForm = { ...question };
              this.dialogVisible = true;
            },
            async updateQuestion() {
              try {
                await this.$refs.dialogForm.validate();
                await axios.put(`/api/question/${this.dialogForm.id}`, this.dialogForm);
                this.$message.success('编辑题目成功');
                this.dialogVisible = false;
                const response = await axios.get('/api/question/bank');
                this.questionBank = response.data;
              } catch (error) {
                console.error(error);
                this.$message.error('编辑题目失败');
              }
            },
            async deleteQuestion(question) {
              try {
                await axios.delete(`/api/question/${question.id}`);
                this.$message.success('删除题目成功');
                const response = await axios.get('/api/question/bank');
                this.questionBank = response.data;
              } catch (error) {
                console.error(error);
                this.$message.error('删除题目失败');
              }
            },
            async getQuestionList() {
              try {
                this.loading = true;
                const response = await axios.get('/api/question/list', {
                  params: { keyword: this.questionQuery },
                });
                this.questionList = response.data;
              } catch (error) {
                console.error(error);
                this.$message.error('获取题目列表失败');
              } finally {
                this.loading = false;
              }
            },
            addQuestionFromList(question) {
              this.form.name = question.name;
              this.form.description = question.description;
              this.questionDialogVisible = false;
            },
          },
      });

    </script>
  </body>
</html>
